<div class="home-container">

    <div class="user-container" *ngIf="user">
        <!-- <img src="../../../assets/img/contact.png" alt=""> -->

        <header>
            <!-- <img src="../../../assets/img/contact.png" alt=""> -->
            <span> HI, {{user?.name}}</span>
        </header>
        <hr>

        <div class="user-details">

            <div>
                <p>CURRENT BALANCE</p>
                <div class="margin-bottom-top-5px">
                    <span>BIT: <span class="green">B {{(user?.coins).toFixed(3)}} </span></span> <br>
                </div>
                    <span> USD: <span class="dark-blue">$ {{myMoney | number}}</span> </span>

            </div>

            <div >
                <p class="margin-bottom-15px" >CURRENT BTC USD</p>
                <span class="big-money" >$ {{btcToUsd| number}}</span>
            </div>

        </div>

        <static-page></static-page>
    </div>

    <div class="moves-container">
        <h2>All Moves</h2>
        <div *ngFor="let move of user?.moves" class="moves-preview">
            <move-list [move]="move"></move-list>
        </div>
        
    </div>
</div>