<div class="screen">

    <div class="signup-container">

        <div class="signup">
            <img src="../../../assets/img/profile.jpg" alt="">
            <input type="text" [(ngModel)]="credential.name" placeholder="Name">
            <input type="text" [(ngModel)]="credential.password" placeholder="Password">
            <button (click)="onLogin()">Login</button>

            
            <!-- <span routerLink="/signup"> New? signup here</span> -->
                                    
    <!--                            /\                                     -->
    <!--                           /  \                                     -->
    <!--                          /    \                                     -->
    <!--                            ||                                        -->
    <!--                            ||                                         -->
    <!--                            ||                                          -->
                        <!-- DONT FORGET SIGHNUP -->
        </div>


    </div>
    
</div>
