<div class="screen">

    <div class="signup-container">
        <div class="signup">
            <img src="../../../assets/img/bitcoin.png" alt="">
            <span>please enter your name</span>
            <input type="text" [(ngModel)]="name">
            <span>please enter your password</span>
            <input type="text" [(ngModel)]="password">
            <button>Sign up</button>
            <span routerLink="/login">Already have an account? click here to Login</span>
        </div>
    </div>
    
</div>