/* You can add global styles to this file, and also import other style files */



$base-color: rgb(223, 221, 221);
body{
    background-image: url('./assets/img/bgcBitcoin.jpg') ;
    // background-image: url('./assets/img/bgcBitcoin\ \(2\).jpg') ;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
