
<div>
    <span>Name: {{contact.name}}</span> <br><br>
    <span>Phone: {{contact.phone}}</span> <br><br>
    <span>Email: {{contact.email}}</span> <br><br>
</div>
    <div *ngFor="let move of contact.moves">
        <move-list  [move]='move'></move-list>
    </div>

<transfer-fund [contact]="contact"></transfer-fund>
<button (click)='onEditContact(contact._id)'>edit</button>
<button (click)='onRemove(contact._id)'>delete</button>
<!-- <li><a routerLink="/edit/{{contact._id}}" routerLinkActive="active-nav" >another way</a></li> -->

<!-- <button [routerLink]="['edit',contact._id]">edit</button>  <======= Nope       -->
